.axure {
    background: url("../img/background_axure.jpg");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    width: 100%;
    padding: 57px 15px 38px;
    position: relative;
}

.axure::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);    
    position: absolute;
    left: 0;
    top: 0;   
}

.axure_content {
    position: relative;
    z-index: 2;
}

.axure__header {   
    font-family: Raleway, sans-serif;   
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;    
}

.axure__header::after {
    content: "";
    display: block;
    margin:34px auto 0;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
}

.axure__subheader {   
    font-family: Raleway, sans-serif;    
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;   
    color: rgba(255, 255, 255, 0.8);    
    text-align: center;
    margin-top: 34px;    
}

.axure__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans, sans-serif;   
    font-weight: 600;
    font-size: 15px;    
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;      
    margin: 57px auto 0;
    transition: .5s all ease;
}

.axure__btn:hover {
    transform: scale(1.2);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    border-radius: 5px;
}

   


