.transition {
    padding: 125px 0;
}

@media (max-width: 992px) {
    .transition {
        padding: 70px 0;}
}

.transition_row {
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}

.transition_tabs {
    flex:0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .transition_tabs {
        flex: 0 0 25%;
    }
}
.transition_item {
    /* background: #EC7979; */
    border-radius: 4px;
    font-family: Open Sans, sans-serif;   
    font-weight: bold;
    font-size: 15px;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
    transition: .5s all ease;
    flex: 0 1 30%;
}

.transition_item:hover {
    background: #EC7979;
    transform: scale(1.2);
}

.transition_content {
    flex: 0 1 50%;
}

@media (max-width: 768px) {
    .transition_content {
        flex: 0 1 60%
    }
}
.transition_titile {
    font-family: Open Sans, sans-serif;    
    font-size: 20px;   
    text-transform: uppercase;
    color: #000000;
}
.transition_descr {
    font-family: Open Sans, sans-serif;   
    font-size: 14px;
    line-height: 19px;  
    text-transform: uppercase;
    color: #86878B;
    margin-top: 58px;
}

@media (max-width: 992px) {
    .transition_descr {
        font-size: 12px;
        margin-top: 40px;
    }
}

.transition_space {
    margin-top: 22px;
}
.transition__btn {    
    font-family: Open Sans, sans-serif;    
    font-weight: 600;
    font-size: 15px;   
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-top: 89px;
    transition: .5s all ease;
    padding: 11px 25px;
}

@media (max-width: 992px) {
    .transition__btn {        
        margin-top: 45px;
    }
}

.transition__btn:hover {
    transform: scale(1.2);
}

.transition_image {
    flex: 0 1 30%;
    min-height: 255px;
}
.transition_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .transition_image {
        display: none;
    }
}